<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Articles</title>
    <style>
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            margin: 0;
        }
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            margin: 0;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>